div#game-container {
  padding: 20pt;
}

div#rs-game {
  font-family: Verdana;
  font-size: 10pt;
}

div#rs-game label {
  font-weight: bold;
  color: grey;
}

div#rs-sidebar {
  width: 120pt;
  float: left;
}

div#rs-field {
  width: 282px;
  height: 282px;
  font-size: 18px;
  float: left;
  margin-right: 20pt;
  margin-bottom: 20pt;
}

div#rs-field div.rs-block {
  float: left;
  width: 93px;
  height: 93px;
  border: 1px solid #DDD;
  margin-left: -1px;
  margin-top: -1px;
}

div#rs-field div.rs-block div.rs-cell {
  float: left;
  border: 1px solid #CCC;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: -1px;
  margin-top: -1px;
  cursor: pointer;
}

div#rs-field div.rs-block div.rs-cell:hover {
  background: pink;
}
div.rs-cell-preset {
  color: brown;
  cursor: default !important;
}
div.rs-cell-highlighted {
  background: #FEF;
}

div.rs-cell-wrong {
  background: #D44;
}

div.rs-input {
  width: 78px;
  height: 78px;
  position: absolute;
}

div.rs-input div {
  float: left;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 80%;
  border: 1px solid #AAA;
  background: #FDD;
  cursor: pointer;
}
div.rs-input div:hover {
  background: pink;
}


div#rs-menu {
  margin-bottom: 20pt;
}

div#rs-menu select {
  width: 120pt;
  margin-bottom: 10pt;
}
div#rs-menu input {
  width: 59pt;
}



div#rs-status {
  margin-bottom: 20pt;
}
div#rs-status label {
  display: block;
  float: left;
  width: 70pt;
}
div#rs-status div span {
  
}


div#rs-highscore {
  
}
div#rs-highscore ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 5pt;
}
div#rs-highscore ul li {
  margin: 0;
  padding: 0;
}
div#rs-highscore ul li input {
  width: 70pt;
}