div#game-container {
  padding: 20pt;
}

div#rs-sudoku {
  
}

div#rs-field {
  width: 282px;
  height: 282px;
  font-size: 18px;
  font-family: Verdana;
}

div#rs-field div.rs-block {
  float: left;
  width: 93px;
  height: 93px;
  border: 1px solid #DDD;
  margin-left: -1px;
  margin-top: -1px;
}

div#rs-field div.rs-block div.rs-cell {
  float: left;
  border: 1px solid #CCC;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: -1px;
  margin-top: -1px;
  cursor: pointer;
}

div#rs-field div.rs-block div.rs-cell:hover {
  background: pink;
}
div.rs-cell-preset {
  color: brown;
  cursor: default !important;
}
div.rs-cell-highlighted {
  background: #FEF;
}

div.rs-cell-wrong {
  background: #D44;
}

div.rs-input {
  width: 78px;
  height: 78px;
  position: absolute;
  background: #FFE;
}

div.rs-input div {
  float: left;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 80%;
  border: 1px solid #DDD;
  cursor: pointer;
}
div.rs-input div:hover {
  background: pink;
}